// @import "partials/header";
// @import "partials/navigation";
// @import "partials/blog";
// @import "partials/sharing";
// @import "partials/syntax";
// @import "partials/archive";
// @import "partials/sidebar";
// @import "partials/footer";

img, video, .flash-video, .caption-wrapper {
 @extend .flex-content;
    @extend .basic-alignment;
       @include shadow-box;
	 &.caption {
	 @include reset-shadow-box;
   }
}
.caption-wrapper {
 display: inline-block;
 margin-bottom: 10px;
 .caption-text {
   background: #fff;
   text-align: center;
   font-size: .8em;
   color: #666;
   display: block;
 }
}
