<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
	  background:#fff; 
	  clear:left; 
	  width:100%; }
	#mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:100%; min-width:130px;}
</style>
<div id="mc_embed_signup">
  <form action="http://wlrn.us3.list-manage1.com/subscribe/post?u=b02c63385fc3dd535179415c4&amp;id=7a6c966d46" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  <h6>Signup to hear about our best feature stories:</h6>
	  <br>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div class="small-8 columns" style="padding:0px;">
	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div style="position: absolute; left: -5000px;"><input type="text" name="b_b02c63385fc3dd535179415c4_7a6c966d46" value=""></div>
      </div>
      <div class="small-4 columns">
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
  </form>
</div>

<!--End mc_embed_signup-->
