<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>
          Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
        </p>
	 <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About</a></li>
	  <li><a href="#">WLRN</a></li>
          <li><a href="#">Miami-Herald</a></li>
          <li><a href="#">Statwonk</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
