<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>
	Copyright &copy; {{ site.time | date: "%Y" }} <a href="http://wlrn.org">WLRN</a> and <a href="http://statwonk.com">Christopher Peters</a>
        </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/about">About</a></li>
	  <li><a href="http://wlrn.org">WLRN</a></li>
	  <li><a href="http://statwonk.com">Statwonk</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
