<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><a href="#" class="button">Link 1</a></li>
       <li><a href="#" class="button">Link 2</a></li>
       <li><a href="#" class="button">Link 3</a></li>
       <li><a href="#" class="button">Link 4</a></li>
      </ul>
    </div>
    <h1><a href="{{ root_url }}">{{ site.title }}</a></h1>
    <h5><a href="{{ root_url }}">{{ site.subtitle }}</a></h5>
    <hr />
  </div>
</div>
