<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><a href="#" class="button">About</a></li>
       <li><a href="#" class="button">WLRN</a></li>
       <li><a href="#" class="button">Miami-Herald</a></li>
       <li><a href="#" class="button">Statwonk</a></li>
      </ul>
    </div>
    <img src="{{ root_url }}/images/header_picture.jpg" />
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    <h5><a href="{{ root_url }}/">{{ site.subtitle }}</a></h5>
    <hr />
  </div>
</div>
