<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><a href="{{ site.baseurl }}/about" class="button">About</a></li>
       <li><a href="http://wlrn.org" class="button">WLRN</a></li>
       <li><a href="http://www.miamiherald.com/" class="button">Miami-Herald</a></li>
       <li><a href="http://statwonk.github.io" class="button">Statwonk</a></li>
      </ul>
    </div>
    <img src="{{ site.baseurl }}/images/header_picture.jpg" />
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h5><a href="{{ site.baseurl }}/">{{ site.subtitle }}</a></h5>
    <hr />
  </div>
</div>
