---
layout: default
---
  <script src="{{ site.baseurl }}/javascripts/foundation.js"></script>
  <script src="{{ site.baseurl }}/javascripts/foundation.topbar.js"></script>
  <div class="row"> 
    <div class="large-6 columns">
	  {% include asides/feature.html  %}
    </div>
		<div id="blog-archives" class="large-2 columns end">
		{% for post in site.posts reverse %}
		<article>
			<ul>
			  {% include archive_insert.html %}
			</ul>
		</article>
		{% endfor %}
		</div>
    <div class="large-4 columns end">
      {% include asides/mailchimp.html %}
      <br>
      {% include asides/twitter_feed.html %}
      {% include asides/feed_widget.html  %}
    </div>
    {% assign index = true %}
  </div>
  <div class="row">
    {% for post in paginator.posts offset: 3 limit: 3 %}
    {% unless post.categories contains 'feature' %}
      <div class="small-12 medium-4 columns">
      {% assign content = post.content %}
	{% include article.html %}
      </div>
    {% endunless %}
    {% endfor %}
  </div>
  <div class="row">
    {% for post in paginator.posts offset: 6 limit: 3 %}
    {% unless post.categories contains 'feature' %}
      <div class="small-12 medium-4 columns">
      {% assign content = post.content %}
	{% include article.html %}
      </div>
    {% endunless %}
    {% endfor %}
  </div>
  <div class="row">
    {% for post in paginator.posts offset: 9 limit: 3 %}
    {% unless post.categories contains 'feature' %}
      <div class="small-12 medium-4 columns">
      {% assign content = post.content %}
	{% include article.html %}
      </div>
    {% endunless %}
    {% endfor %}
  </div>
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
