h1 a {
  color:#000000;
}

h1.entry-title {
  font-size:1.25rem;
  font-weight:600;
}

h1.feature {
  font-size:1.75rem;
  font-weight:800;
}

.row {
  margin-left: 0.5rem;
  max-width: 85rem;
}

$row-width: rem-calc(1000);
$column-gutter: rem-calc(30);
$total-columns: 12 ;

.shadow {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.box {
  background: #fff;
  border:1px solid #c0c6ca;
  border-radius:20px;
  margin: 0px 10px 20px 0px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.to-flips {width: 178px; float: left; margin: 20px; border: 1px solid #ddd; padding: 10px;}
.to-flips .content{height: 150px; position: relative; overflow: hidden;}
.to-flips .content .grey{color: #999;}
.to-flips .content .block{width: 100%; position: absolute; top: 0px; display: block; overflow: hidden;}
.to-flips .flipnav{margin: 0 0 0 70px;}
.to-flips .flipnav .btn-left, 
.to-flips .flipnav .btn-right,
.to-flips .flipnav .btn-left-dis, .btn-right-dis {width: 20px; height: 20px; background: #ccc; color: #fff; float: left; font-size: 16px; text-align: center; cursor: pointer;}
.to-flips .flipnav .btn-left-dis, .to-flips .flipnav .btn-right-dis {color: #fff; background: #fff; cursor: default;}

@media only screen and (max-width: 767px) {
  h2 {
    font-size:1.2em;
  }
}
